# ══════════════════════════════════════════════
# PostgreSQL — основная
# ══════════════════════════════════════════════
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_HOST=
POSTGRES_PORT=

# ══════════════════════════════════════════════
# PostgreSQL — Keycloak
# ══════════════════════════════════════════════
KEYCLOAK_DB=
KEYCLOAK_DB_USER=
KEYCLOAK_DB_PASSWORD=

# ══════════════════════════════════════════════
# Keycloak
# ══════════════════════════════════════════════
KEYCLOAK_HOSTNAME=
KEYCLOAK_PORT=
KEYCLOAK_ADMIN_USER=
KEYCLOAK_ADMIN_PASSWORD=
KEYCLOAK_REALM_NAME=
KEYCLOAK_CLIENT_ID=
KEYCLOAK_CLIENT_SECRET=

KEYCLOAK_FRONTEND_CLIENT_ID=

KEYCLOAK_URL=
KEYCLOAK_ISSUER_URI=

# ══════════════════════════════════════════════
# Redis
# ══════════════════════════════════════════════
REDIS_PASSWORD=
REDIS_HOST=
REDIS_PORT=
REDIS_MAX_MEMORY=

# ══════════════════════════════════════════════
# MinIO
# ══════════════════════════════════════════════
MINIO_ROOT_USER=
MINIO_ROOT_PASSWORD=
MINIO_API_PORT=
MINIO_CONSOLE_PORT=
MINIO_ENDPOINT=
MINIO_BUCKET_NAME=

# ══════════════════════════════════════════════
# Registration
# ══════════════════════════════════════════════
PASSWORD_SECRET_KEY=

PHONE_SINGLE_SMS_COOLDOWN=
PHONE_MAX_SMS_IN_TOTAL_TIME=
PHONE_TOTAL_TIME=
PHONE_SINGLE_SMS_EXPIRATION=
PHONE_ENTER_SINGLE_SMS_ATTEMPTS=


# Telegram Gateway
TELEGRAM_GATEWAY_TOKEN=
TELEGRAM_API_TOKEN=

# GitHub OAuth App
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GITHUB_REDIRECT_URI=
